#about {
  margin-top: 35rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  position: relative;
  bottom: 7.5rem;
  right: 5.5rem;
  place-items: center;
}

/* styling about me image */

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

/* styling cards */

.about__icon {
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-bottom: 1rem;
  width: 99%;
}

.about__cards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: 50%;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  transition: var(--transition);
  align-content: center;
}

.about__card:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-color: var(--color-primary-variant);
  cursor: default;
}

/* styling about bio with blur */

.about__content p {
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--color-primary-variant);
  font-weight: 900;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 10rem;
  width: 100%;
  text-align: center;
}

.cta__btn {
  position: relative;
  right: 32rem;
  bottom: 8rem;
}

/* media queries for medium devices */

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* media queries for small devices */

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
