.container.header__container {
  position: absolute;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-top: 8rem;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* CTA styling */

.cta {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  font-size: large;
}

/* greeting animation style */

.greeting {
  position: relative;
  top: 15rem;
  left: 12rem;
}

/* Header socials styling */

.header__socials {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  font-size: xx-large;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 7rem;
  background: var(--color-primary);
  cursor: pointer;
}

/* styling header image of ezra katz logo */

.logo {
  width: 20rem;
  height: 20rem;
  position: absolute;
  right: 5rem;
  bottom: 20rem;
}

/* media queries for medium devices */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }

  .logo {
    position: absolute;
    left: 23rem;
    top: 0.5rem;
  }
}

/* media queries for small devices */

@media screen and (max-width: 480px) {
  header {
    height: 240vh;
    display: flex;
    flex: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
  }

  .container.header__container {
    margin-left: 5rem;
    margin-top: 5rem;
    max-width: 70%;
  }

  .greeting {
    position: absolute;
    margin-left: -7rem;
    margin-top: 1rem;
    max-width: 50%;
  }

  .cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: x-small;
    position: relative;
    top: 25rem;
    right: 3.3rem;
  }

  .header__socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    font-size: medium;
  }

  .logo {
    width: 12rem;
    height: 12rem;
    position: absolute;
    margin-left: -18rem;
    margin-top: 2rem;
  }
}
